body {
  background-color: #98A1BC;
  font-family: Trebuchet MS, sans-serif;

}

.todo-body{
  background-color: #E5E0D8;
  border-radius:15px;
  margin-left: auto;
  margin-right: auto;
  margin-top:130px;
  padding-top: 10px;
  padding-bottom: 20px;

  width:400px;
  max-width:400px;
  width: 400px;
}

.list-title{
  text-align:center;
  color: #948979;

}

.input-form {
  text-align: center;
  margin: 20px;
}

.clear {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: 30px;
  margin-bottom: 15px;
}

.todo-list{
  margin: 0px;
  padding: 0px;
  list-style-position: inside;
  list-style-type: none;
}

.todo {
  display: flex;
  justify-content: space-between;

  background-color: white;
  border-radius: 10px;
  font-size: 18px;

  padding: 30px;
  padding-left: 15px;

  border: 1px solid black;

  margin-bottom: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

.delete-todo, .edit-todo{
  font-size: 18px;

  background: none;
  border: none;

  cursor: pointer;
  transition: transform 0.2s ease;
}

.delete-todo:hover, .edit-todo:hover{
  text-shadow: 3px 2px 10px #aeb5c6;
  transform: scale(1.15)

}

.delete-todo:active, .edit-todo:active {
  transform: scale(1);
}

.sub-item{
  margin-top: 5px;
  list-style-type: disc;
  font-size: 17px;
}


/* link behavior CSS styling */

a {
  text-decoration: none;
  color: #539a9f;
}

a:hover {
  color: blue;
}

a:visited {
  color: purple;
}

a:active {
  color: red;
}

a:focus {
  outline: 2px dotted orange;
}

/* checkbox CSS styling */
.checkbox-label > input[type="checkbox"] {
  appearance: none;
}

.checkbox-label .checked, .checkbox-label .unchecked{
  transition: transform 0.2s ease;
}
.checkbox-label .checked:hover, .checkbox-label .unchecked:hover{
  transform: scale(1.15)
}
.checkbox-label .checked:active, .checkbox-label .unchecked:active{
  transform: scale(1)
}

.checkbox-label  .checked {
  display: none;
}

.checkbox-label input[type="checkbox"]:checked ~ .checked {
  display: inline;
}

.checkbox-label input[type="checkbox"]:checked ~ .unchecked {
  display: none;
}